body {
    background-color: black;
    color: #ffff ;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: small;
    
} 
h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}
header {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    color: #ffff;
    }

    header nav ul {
        display: flex;
        color: #ffff;
        list-style: none;
        gap: 60px;
    }

    header nav ul a{
        text-decoration: none;
        height: 200px;
        justify-content: center;
        color: #ffff;
        font-size: 40px
    }
    header nav ul a:hover
    {
        text-decoration: underline;
        color: #ffff;
    }
    .copertina img{
        width: 100%;
    }
    .titolo {
        display: flex;
  align-items: center;
  justify-content: center;
        }
    .titolo p {
        
        
    font-size: 100px;
        font-family: 'Times New Roman', Times, serif;
    color: #FFD600;
    padding-top: 5%;
    }

    .text1 {
        display: flex;
  align-items: center;
  justify-content: center;
    }
    .text1 p {
         font-size: 24px;
         margin: 18%;

    }
    .testoeimg{
        height: 1000px;
        margin: 0;
        display: flex;
        gap: 50px;
        background-color: #ffff;
        color: black;
        }
    .imgrodari img {
        width: 300%;
        padding: 105px;
    margin-top: 218px;
    justify-content: left;
    }
    .imgrodari {
       padding: 80px;

       }

    .testo  {
        max-width: 100%;
        padding: 18%;
        display: flex;
        margin-left: 50px;
        justify-content: left;
        font-size: 24px;
        margin: auto;
    }
    .testoeimg .txt {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif
    }
    .paragrafo {
        background-color: black;
        margin: 10%;
        display: flex;
        font-size: 24px;
        margin: auto;
        justify-content: space-between ;
        
        

    }
    .centoanni img {
        width: 30%;
        border-radius: 20%;
        justify-content: left;
        
        

    }
    .centoanni {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        width: 90%;
        margin: 18%;
        
    }
    .trasposizioni {
        font-size: 24px;
        margin-left: 40px;
        display: flex;   
        width: 40%;     
    }

    .paragrafoo {
        margin: auto;
        height: 1600px;
        background-color: black;
    }


    .enzo {
        font-size: 24px;
        margin: auto;
        width: 60%;
        background-color: black;
        padding: 10%;
        

    }
    .paragrafoomino {
        background-color: #ffff;
        height: 400PX;
        color: black;
        margin: auto;
        font-size: 24px;
        padding: 18%;
        padding-left: 18%;
        }

    .testoe P {
        width: 80%;

        margin: 18%;
    }

    .imgomino img {
        width: 300%;
        margin: auto

    }
    .paragafofinal {
        margin: auto;
        padding: 10% ;
    }

    .testof {
        background-color: black;
        color: #ffff;
        font-size: 24px;
        max-width: auto;
        margin: auto;
        padding: 18%;

    }

footer nav ul {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    color: #ffff;
    padding: 48px;
    list-style: none;
    
}
footer nav ul a:hover
{
    text-decoration: underline;
    color: #ffff;

}

footer nav ul a{
    text-decoration: none;
    height: 200px;
    justify-content: center;
    color: #ffff;
    gap: 18px;
    padding: 3px;
    margin: auto;
    font-size: 24px; 
}
@media (max-width:900px) {
     header nav ul a {
        font-size: 20px;
        height: 50px;
        
    }

        
            header svg {
                width: 40%;
            margin: 30px;
            }
            header nav ul  {
                align-items: center;
                gap: 20px;
            }
            .testoeimg{
                flex-direction: column;
                gap: 10px;
                      }

            .testoeimg img {
                width: 70%;
                padding: 10px;
                margin: 0;
            }
            .testo {
                padding: 20px;
                font-size: 22px;
            }
            .paragrafo {
            flex-direction: column;
            gap: 10px;
            
            

            }

            .paragrafo img {
                margin: 0;
                width: 50%;
                height: auto;
                height: 100%;
            }

            .trasposizioni {
                font-size: 17px;
                flex-direction: column;
            }
            .enzo {
                font-size: 17px;
            }

            .testoe {
                font-size: 17px;
            }

            .testof {
                font-size: 17px;
            }
            footer nav ul a {
                font-size: 17px;
                        }
        }


    
    







